body {
    margin: 0;
    font-family: Arial;
    background: #f4f6f9;
}

.container {
    display: flex;
}

/* Sidebar */
.sidebar {
    width: 220px;
    height: 100vh;
    background: #1e293b;
    color: white;
    padding: 20px;
}

.sidebar h2 {
    text-align: center;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    padding: 10px;
    cursor: pointer;
}

.sidebar li:hover {
    background: #334155;
}

/* Main */
.main {
    flex: 1;
    padding: 20px;
}

/* Header */
.header {
    margin-bottom: 20px;
}

/* Cards */
.cards {
    display: flex;
    gap: 20px;
}

.card {
    background: white;
    padding: 20px;
    flex: 1;
    border-radius: 10px;
}

/* Table */
.table-section {
    margin-top: 20px;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.form-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
}

form input,
form select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form h3 {
    margin-top: 20px;
}

button {
    width: 100%;
    padding: 12px;
    background: #2563eb;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #1d4ed8;
}

.estimate-box {
    background: #e0f2fe;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
}

/* Top bar */
.top-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.top-bar input {
    width: 60%;
    padding: 10px;
}

.top-bar select {
    padding: 10px;
}

/* Status badges */
.status {
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
}

.pending {
    background: orange;
}

.progress {
    background: blue;
}

.completed {
    background: green;
}

/* Buttons */
.btn {
    padding: 6px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.start {
    background: #2563eb;
    color: white;
}

.complete {
    background: green;
    color: white;
}